section{
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    background:rgb(99, 9, 134);
}

.border-style{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 15% 15% 0 0;
    background:white;
}

h4{
    margin-top: 20px;
    color: white;    
}

h6{
    margin-top: 20px;
    color: white;    
}

a:link{
    text-decoration: none;
}

.button1{
    text-align: center; 
    border-radius: 30px 30px 30px 30px; 
    width: 100%;height: 60px; 
    background:rgb(99, 9, 134);
    color: white;
}

.box-style{
    margin: auto;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 25px;
    background: rgb(250, 248, 248);
    padding: 20px;
    width: 400px;
    height: auto;
    position: relative;
    color: black;
    cursor: pointer;
}

.box-style1{
   margin: auto;
    top:15px;
    bottom: -40px;
    left: -5px;
    font-size: 25px;
    padding: 20px;
    width: 400px;
    height: auto;
    position: relative;
    color: black;
}

.input-style{
    border-radius: 30px 30px 30px 30px; 
    width: 100%;height: 50px;  
    font-size: 60%;
    border: none;
    background: rgb(250, 248, 248);
    padding-left: 10px;
    display: inline-block;
}

input:focus {
    outline:none;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    background-color: rgb(251, 120, 142);
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid black;
    margin-right: 10px;
  }
  
  /* appearance for checked radiobutton */
  input[type="checkbox"]:checked {
    background-color: rgb(251, 120, 142);
  }
